<%- include ("../partials/header") %>

    <div class="container-fluid p-0">
        <div class="jumbotron text-center">
            <h2>Welcome To ThinGK</h2>
            <hr>
            <p>Thingk is a website where users post the dopest Jordan 1 colourways! If you've ever thought about where to preserve THAT Jordan 1 you saw online and share it with like-minds; to get comments, likes and even have a popularity contest, welcome and we hope to see your favourite Jordan 1 collabs down below!</p>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">
        <!-- creating card with imported data from '/index' route -->
        <% thingks.forEach((thingk) => { %>
        <div class="col-md-6 col-lg-4">
            <div class="card mb-3">
                <img src="<%= thingk.image %>" class="card-img-top" alt="thingk image">
                <div class="card-body">
                    <h5 class="card-title"><%= thingk.name %></h5>
                    <p class="card-text"><%= thingk.desc.substr(0, 60) %>...</p>
                    <p class="card-text"><small class="text-muted">$<%= thingk.price %>.00/piece</small>
                        &nbsp;<a href="/thingks/<%= thingk.id %>"><button class="btn btn-outline-success btn-sm">more</button></a>
                        &nbsp;
                        <button class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></button>
                    </p>
                </div>
            </div>
        </div>
        <% }) %>
        <!-- card ends here -->
    </div>
</div>

<%- include ("../partials/footer") %>